<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.stage03.mapper.StudyLogMapper">
    <select id="search" resultType="com.study.stage03.domain.StudyLog">
        SELECT id, title, category, minutes, memo
        FROM study_logs
        <where>
            <if test="category != null">
                category = #{category}
            </if>
        </where>
    </select>

    <select id="findById" resultType="com.study.stage03.domain.StudyLog">
        SELECT id, title, category, minutes, memo
        FROM study_logs
        WHERE id = #{id}
    </select>

    <select id="getNextId" resultType="long">
        SELECT COALESCE(MAX(id), 0) + 1
        FROM study_logs
    </select>

    <insert id="save">
        INSERT INTO study_logs (id, title, category, minutes, memo)
        VALUES (#{id}, #{title}, #{category}, #{minutes}, #{memo})
    </insert>

    <update id="update">
        UPDATE study_logs
        SET title = #{title},
        category = #{category},
        minutes = #{minutes},
        memo = #{memo}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM study_logs
        WHERE id = #{id}
    </delete>
</mapper>