<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.stage03.mapper.StudyLogMapper">
    <select id="findAll" resultType="com.study.stage03.domain.StudyLog">
        SELECT id, title, category, minutes, memo
        FROM study_logs
    </select>

    <select id="findById" resultType="com.study.stage03.domain.StudyLog">
        SELECT id, title, category, minutes, memo
        FROM study_logs
        WHERE id = #{id}
    </select>
</mapper>